{% extends 'base.html' %}

{% block content %}
<h3>Статус заказа:</h3>
{{ invoice.get_status_display }}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">QTY</th>
        <th scope="col">Price</th>
        <th scope="col">Total cost</th>
      </tr>
    </thead>
    <tbody>
    {% for key, val in invoice.goods.items %}
    <tr>
        <td>{{val.title}}</td>
        <td>{{val.qty}}</td>
        <td>{{val.price}}</td>
        <td>{% widthratio val.qty 1 val.price %}</td>
      </tr>
    {% endfor %}
</tbody>
</table>
<div>{% if invoice.note %}Note: {{ invoice.note }}</div>{% endif %}
{% endblock %}